<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->
	<div class="container">
		<div class="sixteen columns">
			<h1 class="remove-bottom" style="margin-top: 40px">HTML5.tx</h1>
			<h5>100% Pure</h5>
			<hr />
		</div>
		<div class="column">
		</div>
		<div class="one-third column">
			<h3>About HTML5.tx?</h3>
			<p>HTML5.tx is a premium-grade conference for all things HTML, CSS and JavaScript. The <a href="/2011">inagural event</a> was held in Austin, TX on October 8, 2011 at St. Edward's Univeristy. Check out the video below for a recap of last year's event, and to get a preview of what's in store for 2012.</p>
		</div>
		<div class="one-third column">
			<h3>2011 Session Videos</h3>
			<p>Check out these videos from the 2011 event:</p>
			<ul class="square">
				<li><a href="/videos/simpson"><strong>HTML5 JavaScript on Crack</strong></a>: Kyle Simpson dives deep into the nitty-gritty details of many HTML5 JavaScript APIs</li>
				<li><a href="/videos/satrom"><strong>The HTML Design Smackdown</strong></a>: A live design review between two developers and two designers</li>
				<li><a href="/videos/schmitt"><strong>HTML5 Geolocation for People Who Don't Love to Code</strong></a>: Christopher Schmitt discusses how designers can add Geolocation to sites without programming wizardry.</li>
			</ul>
			<p><a href="/videos">View all...</a></p>
		</div>
		<div class="one-third column">
			<h3>Ready for the next one?</h3>
			<p>We're already in the midst of putting together an awesome event for the fall of 2012. If you're interested in helping out as a volunteer or sponsor, contact <a href="mailto:bsatrom@gmail.com">bsatrom@gmail.com</a></p>
		</div>
		<div class="sixteen columns">
			<iframe src="http://player.vimeo.com/video/36094284?title=0&amp;byline=0&amp;portrait=0&amp;color=F16529" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
	</div><!-- container -->