		<div class="one-third column">
			<h3>About HTML5.tx?</h3>
			<p>HTML5.tx is a premium-grade conference for all things HTML, CSS and JavaScript. The <a href="/2011">inagural event</a> was held in Austin, TX on October 8, 2011 at St. Edward's Univeristy. <a href="#interviews" />Check out the video below</a> for a recap of last year's event, and to get a preview of what's in store for 2012.</p>
		</div>
		<div class="one-third column">
			<h3>2011 Session Videos</h3>
			<ul class="square">
				<% videos.each do |video| %>
					<li><a href="/videos/<%= video["slug"] %>"><strong><%= video["title"] %></strong></a>: <%= video["description"] %></li>
				<% end %>
			</ul>
			<p><a href="/videos">View all...</a></p>
		</div>
		<div class="one-third column">
			<h3>Ready for the next one?</h3>
			<p>We're already in the midst of putting together an awesome event for the fall of 2012. If you're interested in attending, or helping out as a volunteer or sponsor, <a href="/signup">sign up here</a>.</p>
		</div>
		<div class="container columns offset-by-three">
			<iframe id="interviews" class="video" src="http://player.vimeo.com/video/36094284?title=0&amp;byline=0&amp;portrait=0&amp;color=F16529" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>