		<div class="one-third column">
			<h3><%= video["title"] %></h3>
			<h6>// <%= video["speaker"] %></h6>
			<p></p>
			<p><%= video["longDescription"] %></p>
			<p><a href="/videos">back to videos...</a></p>
		</div>
		<div class="two-thirds column">
			<iframe class="video" src="<%= video["embed_url"] %>?title=0&amp;byline=0&amp;portrait=0&amp;color=F16529" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>