// Mobile Portrait (480px)

#container{width:480px;}

section.social .lower-logo, 
section.social a.blog{
	width:48%;
	float:left;
	background-size:100% auto;
}

section.social .lower-logo{
	margin-right:4%;
}

section.social .lower-cogs{
	width:100%;
	float:left;
}

section.social .lower-cogs .twitter{
	left: 191px;
}
section.social .lower-cogs .facebook{
	left: 243px;
}

section.speakers{
	.name, .title{
		font-size: 0.75em;
	}

	.speaker-wrap{ width:23%;}

	.speaker-wrap .name{bottom:60px;}

	.speaker-wrap .big-cog{top: 62px;width:100px; height:100px; margin-left:-50px;}
}
section.sponsors .sponsor {width: 24%;}
section.social .lower-logo, section.social a.blog, section.social .lower-cogs{width:32%;}
section.social .lower-cogs .twitter {left: 27px;}
section.social .lower-cogs .facebook {left: 74px;}

footer[role="main"] .copyright, footer[role="main"] a.credit,footer[role="main"] .bar{width:33.33%}

footer[role="main"] .bar{margin-top:20px;}