// Mobile Landscape (600px)

#container{width:600px;}

header[role="main"]{
	height:200px;
	background:url(_img/m/header.jpg) no-repeat center top;
}

nav[role="main"]{
	top: 200px;
}

.bad-ass-war-eagle{
	top:107px;
	background:url(_img/s/bad-ass-war-eagle.png) top center no-repeat;
}

.cog{
	top:255px;
}

section.masthead .callout{
	width:42.5%; 
	display:block; 
	float:left;
	position:relative;

	.button{
		position:absolute;
		left:50%;
		margin-left:-110px;
		bottom:20px;
	}

	&:first-child{
		margin-right:5%;
		min-height:180px;
	}
	&:last-child{
		padding-top:36px;
		min-height:175px;
	}

}

section.speakers .speaker-wrap { width: 23%;

.name, .title {font-size: 1em;}
.big-cog {top: 96px;}

}

section.sponsors .sponsor {width: 24%;}

section.social .lower-logo, 
section.social a.blog, 
section.social .lower-cogs{
	width:30%;
}
section.social .lower-logo, 
section.social a.blog{
	margin-right:5%;
}

nav.footer a {
	width: 25%;
}

footer[role="main"] .copyright, footer[role="main"] a.credit{
	width:37.5%;
}

footer[role="main"] .bar{
	width:21%;
	margin:15px 2%;
}


