<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>HTML5.tx :: 100% Pure</title>
	<meta name="description" content="Home Page for the HTML5.tx Conference, an annual conference for developers and designers in Austin, TX">
	<meta name="author" content="Brandon Satrom, Drifting Creatives, Sam Hooker">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- The FEEDZ!
	================================================ -->
	<link href="http://feeds.feedburner.com/Html5txVideos" rel="alternate" type="application/rss+xml"> 

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="/stylesheets/base.css">
	<link rel="stylesheet" href="/stylesheets/skeleton.css">
	<link rel="stylesheet" href="/stylesheets/layout.css">
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

</head>
<body>

	<!-- Sign-up Ribbon (Top-left float)
	========================================= -->
	<div class="ribbon"><a href="http://contactme.com/4e072425829ac6000101978e" target="_blank" >Join the list for 2013!</a></div>

	<!-- Primary Page Layout
	================================================== -->

	<div class="container">
		<div class="sixteen columns" id="header">
			<h1 id="main" class="remove-bottom" style="margin-top: 40px"><a href="/index" class="bare"><img src="/images/logo.png" alt="HTML5.tx" title="HTML5.tx logo"/></a></h1>
			<h1 id="small" class="remove-bottom" style="margin-top: 10px"><a href="/index" class="bare"><img src="/images/logo-small.png" alt="HTML5.tx" title="HTML5.tx logo"/></a></h1>
			
		</div>
		<div class="sixteen columns">
			<hr />
		</div>
		
		<%= yield %>

		<div class="sixteen columns" id="footer">
			<p>&copy;2011-2013 HTML5.tx :: All Rights Reserved.</p>

			<div class="dark">
				<p>Site Design by <a href="http://www.driftingcreatives.com">Drifting Creatives</a>. Site Development by <a href="http://userinexperience.com/">Brandon Satrom</a>.
	    		<br /><a href="http://w3c.org">All your HTML, CSS and JavaScript are belong to us.</a></p>
			</div>
			<p>&nbsp;</p>					
		</div>

	</div><!-- container -->

	<!-- JS
	================================================== -->
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="/javascripts/tabs.js"></script>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-2061518-5']);
	  _gaq.push(['_setDomainName', 'html5tx.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>

<!-- End Document
================================================== -->
</body>
</html>