/**
 * @package Sixhours
 */

small {
	text-transform: uppercase;
	color: #666666;
	font-size: 11px;
	margin-bottom: 5px;
}

.clear {
	clear: both;
	width: 100%;
}

.wp-caption .wp-caption-text {
	color: #333333;
}

.entry img {
	max-width: 600px;
}

img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
}

.alignright {
	float: right;
}

.alignleft {
	float: left
}

.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

a img {
	border: none 0px;
}

.hidden {
	display: none;
}

body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
	line-height: 21px;
}

body {
	background-color: #333333;
}

a:link {
	text-decoration: none;
	font-weight: bold;
	color: #F3F3F3;
}
a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #F3F3F3;
}
a:hover {
	text-decoration: none;
	font-weight: bold;
	color: #C4513F;
}
a:active {
	text-decoration: none;
	font-weight: bold;
	color: #C4513F;
}

hr {
	background-color: #666666;
	clear: both;
	height: 1px;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	margin-top: 15px;
	margin-bottom: 15px;
	display: block;
}

/* Captions */
/*
Editor Stylesheet
*/

.clear {
	clear: both;
	width: 100%;
}

.wp-caption .wp-caption-text {
	color: #333333;
}

.entry img {
	max-width: 600px;
}

img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
}

.alignright {
	float: right;
}

.alignleft {
	float: left
}
	
a img {
	border: none 0px;
}

.hidden {
	display: none;
}

body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
	line-height: 21px;
}

body {
	background-color: #333333;
}

a:link {
	text-decoration: none;
	font-weight: bold;
	color: #F3F3F3;
}
a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #F3F3F3;
}
a:hover {
	text-decoration: none;
	font-weight: bold;
	color: #C4513F;
}
a:active {
	text-decoration: none;
	font-weight: bold;
	color: #C4513F;
}

hr {
	background-color: #666666;
	clear: both;
	height: 1px;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	margin-top: 15px;
	margin-bottom: 15px;
	display: block;
}

/* Captions */
.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}

/* End captions */

small {
	text-transform: uppercase;
	color: #666666;
	font-size: 11px;
	margin-bottom: 5px;
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}

/* End captions */