<!DOCTYPE html>

<html lang="en-US">

<head profile="http://gmpg.org/xfn/11">
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="/stylesheets/html5reset.css" rel="stylesheet" type="text/css" />
	
	
	<title>
		   HTML5tx.com :: 100% Pure
	</title>
	<meta name="description" content="A premium grade conference for all things HTML, CSS and Javascript. Join us in 
Austin, TX on October 8, 2011 for the future of the web." />
	<meta name="keywords" content="HTML, HTML5, CSS, Javascript, tech, conference, event, Austin, TX, Texas" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="/stylesheets/2011.css" type="text/css" />

	<script type="text/javascript">
		document.createElement('header');
		document.createElement('article');
	</script>

	<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
	
	<script type="text/javascript" src="/javascripts/sizing.js"></script>
</head>

<body class="home page page-id-6 page-template-default">
	
	<div id="page-wrap">

		<div id="mainHeader">
			<header>
				<div id="topline">
					<a id="top"></a>
					<div><img src="/images/2011/stars.png" alt="stars" /></div>
					<div id="toplineLeft">MADE IN</div>
					<div><img src="/images/2011/shield.png" id="shield" alt="HTML5 Shield" /></div>
					<div id="toplineRight">TEXAS</div>                
					<div><img src="/images/2011/stars.png" alt="stars" /></div>
				</div>
			</header>
		</div>

<div id="main">
	<img src="/images/meat-market.jpg" alt="Meat Market" />
	<div id="content">
		<img src="/images/logo.png" id="logo" alt="HTML5.tx Logo" /> 
		<div id="navList">
			<ul>
				<li><a href="http://html5tx.com#detailsWrap">details</a></li>
				<li><a href="http://html5tx.com#scheduleWrap">schedule</a></li>
				<li><a href="http://html5tx.com#speakerWrap">speakers</a></li>
				<li><a href="http://html5tx.com#registerWrap">register</a></li>
                                <li><a href="http://html5tx.com/info">attendees</a></li>
			</ul>
		</div>
		<div id="textBar">
			<div><img src="/images/2011/arrowBanner.png" alt="arrow banner" /></div>
			<div><a href="http://html5tx.eventbrite.com"><img src="/images/2011/registerStd.png" onmouseover="this.src='/images/2011/registerHlt.png'" onmouseout="this.src='/images/2011/registerStd.png'" /></a></div>
		</div>           
		<article>
			<div><img src="/images/2011/arrowBannerStar.png" alt="star" /></div>
			<div id="description" >
				A premium grade conference for all things html, css and javascript. 
				Join us in <br /><span id="location">Austin, TX</span> on 
				<time datetime="2011-10-08">October 8, 2011</time> for the future of the web. 
			</div>
		</article>                             
		<img src="/images/bottom-bar.png" id="bottomBar" alt="Bottom Banner" />                
		<img src="/images/2011/tx.png" id="tx" alt="Texas Icon" />                
	</div>            
</div>
<div id="trailer">
	<h1>THANKS FOR A GREAT 2011 EVENT! <a href="/index">SEE YOU IN 2012!</a></h1>
</div><div id="mainContent">

				
		<div class="post" id="post-6">

			<div class="entry">

				<div id="detailsWrap">
<div id="detailsLeft">
<div class="sectionTitle">
			<span class="st1">DETAILS:</span><span class="st2">Should you attend? Hellz yeah. Here&#8217;s why.</span>
		</div>
<p class="detailText">HTML5.tx is the premier event for web designers, developers and technologists in Texas. This event will be a place for people of all disciplines and backgrounds to learn from web experts and each other about HTML, CSS, JavaScript and the future of the web.</p>
<p class="detailText">And we mean ALL disciplines and backgrounds. Developers and designers are welcome. Front-end and back-end developers will find something of interest. PHP, Rails, .NET, Python, JavaScript, and everything else will be there. We want you here. Love your browser of choice like a member of your family? Come tell us why. No matter what you do or who you are, if you love the web, you can expect to be surrounded with some of the best web-heads in Texas and beyond.</p>
<p class="detailText">HTML5.tx will feature a great line-up of speakers, social events the night before and after the event, and people from most of the web technologies out there. You don’t want to miss it.</p>
<div id="whenWhere">
<table id="whenGrid">
<tbody>
<tr id="wgRow1">
<td id="wgTitle">When, Where &#038; Cost</td>
<td></td>
<td></td>
</tr>
<tr id="wgRow2">
<td>Saturday</p>
<p id="dateHL">October 8, 2011</p>
</td>
<td>St. Edwards University, Ragsdale Center</td>
<td></td>
</tr>
<tr id="wgRow3">
<td>
<p id="timeHL">8am to 5pm</p>
<p>						With some extra-curricular activities (likely the day before and after) to be announced closer to the event.</td>
<td><a href="http://bit.ly/niSdQY" target="_blank"><img src="/images/2011/gmap.jpg" /></a></td>
<td>
<p id="priceHL">$79.00</p>
<p>						<a href="#">Go register already.</a></td>
</tr>
</tbody>
</table></div>
<p>		<iframe src="http://player.vimeo.com/video/29868450?title=0&amp;byline=0&amp;portrait=0" width="600" height="338" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe><br />
		<img src="/images/2011/talkAbout.png" />
	</div>
<div id="detailsRight">
<div class="topLink"><a href="#top">BACK TO TOP</a></div>
<div id="theTweets">
<h2><a href="http://twitter.com/html5tx" target="_blank">Follow: html5tx</a></h2>
<ul class="twitter">
<li class="twitter-item"> <a href="http://twitter.com/ochampet" class="twitter-user">@ochampet</a> Thanks for that feedback. we&#8217;ll keep that in mind for next time. <a href="http://twitter.com/HTML5TX/statuses/123439949574979584" class="twitter-link">#</a> <span class="twitter-timestamp"><abbr title="2011/10/10 16:49:12">2011/10/10</abbr></span></li>
<li class="twitter-item"> RT <a href="http://twitter.com/BrandonSatrom" class="twitter-user">@BrandonSatrom</a>: Overall rating for <a href="http://twitter.com/#search?q=html5tx" class="twitter-link">#html5tx</a> sessions is 3.96 (out of 5). That&#8217;s some high-quality content! Thx to our awesome speaker &#8230; <a href="http://twitter.com/HTML5TX/statuses/123435254823387137" class="twitter-link">#</a> <span class="twitter-timestamp"><abbr title="2011/10/10 16:30:32">2011/10/10</abbr></span></li>
<li class="twitter-item"> <a href="http://twitter.com/#search?q=html5tx" class="twitter-link">#html5tx</a> is going great! Thanks to the 230+ people who joined us today!!! <a href="http://twitter.com/HTML5TX/statuses/122709115008061440" class="twitter-link">#</a> <span class="twitter-timestamp"><abbr title="2011/10/08 16:25:07">2011/10/08</abbr></span></li>
<li class="twitter-item"> RT <a href="http://twitter.com/BrandonSatrom" class="twitter-user">@BrandonSatrom</a>: Open Spaces for <a href="http://twitter.com/#search?q=html5tx" class="twitter-link">#html5tx</a> are posted at <a href="http://t.co/sHSwWYsL" class="twitter-link">http://t.co/sHSwWYsL</a> <a href="http://twitter.com/HTML5TX/statuses/122708904126849024" class="twitter-link">#</a> <span class="twitter-timestamp"><abbr title="2011/10/08 16:24:17">2011/10/08</abbr></span></li>
</ul></div>
<div id="socialLinks">
<p>Share:</p>
<p><a href="http://twitter.com/html5tx" target="_blank"><img src="/images/2011/twitterLink.png"></a><a href="http://www.facebook.com/pages/HTML5tx/240781395942312" target="_blank"><img src="/images/2011/facebookLink.png"></a>
		</div>
</p></div>
</div>
<div id="scheduleWrap">
<div class="sectionTitle floatTitle">
		<span class="st1">SCHEDULE:</span><span class="st2">We&#8217;ll post videos later. You won&#8217;t miss anything.</span>
	</div>
<div class="floatTopLink"><a href="#top">BACK TO TOP</a></div>
<div class="schedBlock" id="schedTrack3">
<h1>Friday, October 7th</h1>
<h2>Pre-Flight</h2>
<table>
<tr>
<td>7:00pm &#8211; 10:00pm</td>
<td>Welcome reception/party for all attendees</td>
</tr>
</table></div>
<div class="schedBlock" id="schedTrack1">
<h1>Saturday, October 8th</h1>
<h2>Jones Auditorium</h2>
<table>
<tr>
<td>7:30 &#8211; 8:30am</td>
<td><b>Breakfast</b></td>
</tr>
<tr>
<td>8:30 &#8211; 9:20am</td>
<td>Keynote Panel</td>
</tr>
<tr>
<td>9:30 &#8211; 10:20am</td>
<td>The Possibilities of Display Box and WebKit Animation</td>
</tr>
<tr>
<td>10:20 &#8211; 11:10am</td>
<td>Modernizr, YepNope, and Pollyfills</td>
</tr>
<tr>
<td>11:20 &#8211; 12:10pm</td>
<td>HTML5 Video</td>
</tr>
</tr>
<td>12:10 &#8211; 1:00pm</td>
<td><b>Lunch</b></td>
</tr>
<tr>
<td>1:00 &#8211; 1:50pm</td>
<td>Fun and Games with CSS3</td>
</tr>
<tr>
<td>1:50 &#8211; 2:40pm</td>
<td>HTML Motion Design with Adobe Edge</td>
</tr>
<tr>
<td>2:40 &#8211; 3:30pm</td>
<td>HTML5 JavaScript On Crack</td>
</tr>
<tr>
<td>3:30 &#8211; 4:20pm</td>
<td>Writing Less Code with CSS3</td>
</tr>
<tr>
<td>4:20 &#8211; 5:00pm</td>
<td>Closing Session</td>
</tr>
</table></div>
<div class="schedBlock" id="schedTrack2">
<h1>Saturday, October 8th</h1>
<h2>Mabee Ballroom C</h2>
<table>
<tr>
<td>7:30 &#8211; 8:30am</td>
<td><b>Breakfast</b></td>
</tr>
<tr>
<td>8:30 &#8211; 9:20am</td>
<td><em>Closed for Keynote Panel</em></td>
</tr>
<tr>
<td>9:30 &#8211; 10:20am</td>
<td>The HTML5 Element DOM Interface</td>
</tr>
<tr>
<td>10:20 &#8211; 11:10am</td>
<td>CSS3 Selectors</td>
</tr>
<tr>
<td>11:20 &#8211; 12:10pm</td>
<td>HTML5 Geolocation for People Who Don’t Love to Code</td>
</tr>
</tr>
<td>12:10 &#8211; 1:00pm</td>
<td><b>Lunch</b></td>
</tr>
<tr>
<td>1:00 &#8211; 1:50pm</td>
<td>The Responsive Web &#8211; Programming for the Users</td>
</tr>
<tr>
<td>1:50 &#8211; 2:40pm</td>
<td>The HTML5 Design Smackdown</td>
</tr>
<tr>
<td>2:40 &#8211; 3:30pm</td>
<td>Doing More with LESS for CSS3</td>
</tr>
<tr>
<td>3:30 &#8211; 4:20pm</td>
<td>HTML5: Web Forms 2.0</td>
</tr>
<tr>
<td>4:20 &#8211; 5:00pm</td>
<td><em>Closed for Closing Session</e,></td>
</tr>
</table></div>
<div class="schedBlock" id="schedTrack4">
<h1>Saturday, October 8th</h1>
<h2>Maloney Room</h2>
<table>
<tr>
<td>7:30 &#8211; 8:30am</td>
<td><b>Breakfast</b></td>
</tr>
<tr>
<td>8:30 &#8211; 9:20am</td>
<td><em>Closed for Keynote Panel</em></td>
</tr>
<tr>
<td>9:30am  &#8211; 12:00pm</td>
<td>Open Spaces and Hackathon</td>
</tr>
</tr>
<td>12:10 &#8211; 1:00pm</td>
<td><b>Lunch</b></td>
</tr>
<tr>
<td>1:00  &#8211; 4:20pm</td>
<td>Open Spaces and Hackathon</td>
</tr>
<tr>
<td>4:20 &#8211; 5:00pm</td>
<td><em>Closed for Closing Session</e,></td>
</tr>
<tr>
<td>5:30pm &#8211; Midnight</td>
<td>After Party, Hackathon Continues</td>
</tr>
</table></div>
</div>
<div id="speakerWrap">
<div class="rowWrap">
<div class="sectionTitle floatTitle">
			<span class="st1">SPEAKERS:</span><span class="st2">Check out this lineup.</span>
		</div>
<div class="floatTopLink"><a href="#top">BACK TO TOP</a></div>
</p></div>
<div class="speakerRow">
<div class="rowWrap">
<div class="speakerPic">
				<img src="/images/2011/christopher.jpg" title="Christopher Schmitt" />
			</div>
<div class="speakerInfo">
<h3>Christopher Schmitt</h3>
<h4>HTML5 Geolocation for People Who Don&#8217;t Love to Code</h4>
<p><a href="http://heatvision.com">http://heatvision.com</a><br />
				<a href="http://twitter.com/teleject">@teleject</a></p>
<p>The founder of Heat Vision, a small new media publishing and design firm, Christopher Schmitt is an award-winning Web designer who has been working with the Web since 1993. As a sought-after speaker and trainer, Christopher regularly demonstrates the use and benefits of practical standards-based designs. He is Co-Lead of the Adobe Task Force for the Web Standards Project (WaSP) in addition to being a contributing member of its Education Task Force. Author of numerous Web design and digital imaging books, including Adapting to Web Standards: CSS and Ajax for Big Sites and CSS Cookbook, Christopher has also written for MSDN, .net Magazine, New Architect Magazine, A List Apart, Digital Web, and Web Reference.</p>
</p></div>
<div class="speakerPic">
				<img src="/images/2011/estelle.jpg" title="Estelle Weyl" />
			</div>
<div class="speakerInfo">
<h3>Estelle Weyl</h3>
<h4>HTML5: Web Forms 2.0</h4>
<p><a href="http://www.standardista.com">http://www.standardista.com</a><br />
				<a href="http://twitter.com/estellevw">@estellevw</a></p>
<p>A dev consultant, Estelle Weyl has coded for Kodakgallery, Yahoo! and Apple. Estelle provides HTML5 and CSS3 tutorials and detailed grids of browser support in her blog at http://www.standardista.com. She is the co-author of HTML5 and CSS3 for the Real World (Sitepoint, May 2011) and the upcoming Mobile HTML5 (O&#8217;Reilly, October 2011). While not coding, she works in construction, de-hippifying her 1960&#8242;s throwback abode.</p>
</p></div>
</p></div>
</div>
<div class="speakerRow">
<div class="rowWrap">
<div class="speakerPic">
				<img src="/images/2011/mike.jpg" title="Mike Wilcox" />
			</div>
<div class="speakerInfo">
<h3>Mike Wilcox</h3>
<h4>HTML5 Video</h4>
<p><a href="http://clubajax.org">http://clubajax.org</a><br />
				<a href="http://twitter.com/clubajax">@clubajax</a></p>
<p>Mike Wilcox is Director of Technology for a fast growing startup in Frisco Texas, BetterVideo<sup>&trade;</sup> where he is in charge of front end engineering and the online video services. Mike is a regular speaker on AJAX and other web technologies, having spoken at many conferences including the Rich Web Experience, and DallasTechFest. His open source work is on display in the Dojo Toolkit, where as a committer, he&#8217;s implemented many of the multimedia technologies including the Multi-File Uploader, Audio, Video, and the vector-based DojoX Drawing.</p>
</p></div>
<div class="speakerPic">
				<img src="/images/2011/kyle.jpg" title="Kyle Simpson" />
			</div>
<div class="speakerInfo">
<h3>Kyle Simpson</h3>
<h4>HTML5 JavaScript on Crack</h4>
<p><a href="http://blog.getify.com">http://blog.getify.com</a><br />
				<a href="http://twitter.com/getify">@getify</a></p>
<p>Kyle Simpson is a JavaScript Systems Architect from Austin, TX. He focuses on JavaScript, web performance optimization, and &#8220;middle-end&#8221; application architecture. If something can&#8217;t be done in JavaScript or web stack technology, he&#8217;s probably bored by it. He runs several open-source projects, including LABjs, HandlebarJS, and BikechainJS. Kyle works as a Software Engineer on the Development Tools team for Mozilla.</p>
</p></div>
</p></div>
</div>
<div class="speakerRow">
<div class="rowWrap">
<div class="speakerPic">
				<img src="/images/2011/matthew.jpg" title="Matthew Carver" />
			</div>
<div class="speakerInfo">
<h3>Matthew Carver</h3>
<h4>The Responsive Web &#8211; Programming For The Users</h4>
<p><a href="http://www.matthewcarver.com">http://www.matthewcarver.com</a><br />
				<a href="http://twitter.com/matthew_carver">@matthew_carver</a></p>
<p>Matt is a front-end developer, HTML5 evangelist, CSS3 experimenter, UX advocate, and grade A nerd.  In his time with Click Here, a digital agency in Dallas, he&#8217;s worked with clients such as American Airlines, Chick-Fil-A, the Dallas Morning News, Dodge, and the Home Depot.  When he isn&#8217;t turning PSD dreams into digital reality, he&#8217;s watching Star Trek with his Jack Russell or searching for the world&#8217;s best taco.</p>
</p></div>
<div class="speakerPic">
				<img src="/images/2011/todd.jpg" title="Todd Anglin" />
			</div>
<div class="speakerInfo">
<h3>Todd Anglin</h3>
<h4>Doing More with LESS for CSS</h4>
<p><a href="http://htmlui.com">http://htmlui.com</a><br />
				<a href="http://twitter.com/toddanglin">@toddanglin</a></p>
<p>Todd Anglin is Chief Evangelist for Telerik, a leading vendor of development, team productivity, and automated testing tools, as well as UI components and content management solutions. Todd is an active author and speaker, focusing on HTML5, JavaScript, CSS3, and modern web development technologies, a Microsoft MVP, ASP Insider, an O&#8217;Reilly author, and curator of htmlUI.com.</p>
</p></div>
</p></div>
</div>
<div class="speakerRow">
<div class="rowWrap">
<div class="speakerPic">
				<img src="/images/2011/garann.jpg" title="Garann Means" />
			</div>
<div class="speakerInfo">
<h3>Garann Means</h3>
<h4>Writing Less Code with CSS3</h4>
<p><a href="http://garann.com">http://garann.com</a><br />
				<a href="http://twitter.com/garannm">@garannm</a></p>
<p>Garann has been making websites for 15 years. After years of Java and C#, she returned to her first love, front-end development. These days she focuses on writing JavaScript, along with its charming buddies HTML and CSS. She lives here in Austin, where she&#8217;s remodeling a giant house and is currently funemployed.</p>
</p></div>
<div class="speakerPic">
				<img src="/images/2011/brandon.jpg" title="Brandon Satrom" />
			</div>
<div class="speakerInfo">
<h3>Brandon Satrom</h3>
<h4>The HTML5 Design Smackdown</h4>
<p><a href="http://www.userinexperience.com">http://www.userinexperience.com</a><br />
				<a href="http://twitter.com/BrandonSatrom">@BrandonSatrom</a></p>
<p>Brandon is a web evangelist for Microsoft, based in Austin, TX. A unapologetic lover of the web, Brandon loves to talk about HTML, JavaScript, CSS, Open Source and whatever new shiny tool or technology has distracted him from that other thing he was working on (like CoffeeScript). Brandon loves writing and speaking and loves hanging out with and learning from other passionate developers.</p>
</p></div>
</p></div>
</div>
<div class="speakerRow">
<div class="rowWrap">
<div class="speakerPic">
				<img src="/images/2011/chrisruppel.jpg" title="Chris Ruppel" />
			</div>
<div class="speakerInfo">
<h3>Chris Ruppel</h3>
<h4>Fun and Games with CSS3</h4>
<p><a href="http://chrisruppel.com">http://chrisruppel.com</a><br />
				<a href="http://twitter.com/rupl">@rupl</a></p>
<p>Chris Ruppel spends his days contributing front-end and Drupal development expertise to <a href="http://fourkitchens.com">Four Kitchens</a> here in Austin, TX, having worked with clients such as The Economist, Yale University, and Al Jazeera English. Chris is an active contributor to the Drupal 8 HTML5 Initiative, helping Drupal utilize the next wave of web awesomeness. When he pries away from the computer, Chris is out playing disc golf, swimming, or getting a healthy dose of Austin&#8217;s live music.</p>
</p></div>
<div class="speakerPic">
				<img src="/images/2011/markanders.jpg" title="Mark Anders" />
			</div>
<div class="speakerInfo">
<h3>Mark Anders</h3>
<h4>HTML Motion Design with Adobe Edge</h4>
<p><a href="http://www.markanders.net">http://www.markanders.net</a></p>
<p>Mark Anders is an Adobe Fellow focused on enabling designers and developers to build the next generation of Internet user experiences. He is currently leading the team creating a new tool, Adobe Edge, which is a Motion and Interaction Design tool for HTML5, CSS3 and JavaScript.  Previously, he led the creation of Adobe Flash Catalyst, and Adobe Flash Builder.</p>
<p>Prior to joining Adobe, Mark worked at Microsoft where he co-founded the ASP.NET team and led the creation of ASP.NET and the .NET Framework.</p>
<p>He lives and works in San Francisco.</p>
</p></div>
</p></div>
</div>
<div class="speakerRow">
<div class="rowWrap">
<div class="speakerPic">
				<img src="/images/2011/alexsexton.jpg" title="Alex Sexton" />
			</div>
<div class="speakerInfo">
<h3>Alex Sexton</h3>
<h4>Modernizr, YepNope, and Polyfills</h4>
<p><a href="http://alexsexton.com">http://alexsexton.com</a><br />
				<a href="http://twitter.com/slexaxton">@slexaxton</a></p>
<p>Alex Sexton is a Labs Engineer at Bazaarvoice in Austin, TX. He is a member of the Modernizr team, and the creator of yepnope.js. He has a great interest in 3rd party and large app javascript. He is also a Co-host of the yayQuery podcast, the current organizer of the TXJS conference in Austin, and a regular at the Austin JavaScript meetup in town. Come say hi.</p>
</p></div>
<div class="speakerPic">
				<img src="/images/2011/jakesmith.jpg" title="Jake Smith" />
			</div>
<div class="speakerInfo">
<h3>Jake Smith</h3>
<h4>CSS3 Selectors</h4>
<p><a href="http://jakefolio.com">http://jakefolio.com</a><br />
				<a href="http://twitter.com/jakefolio">@jakefolio</a></p>
<p>Jake Smith is an Interactive Software Engineer at RAPP.  Jake has been developing websites for over 10 years and is passionate about speaking/sharing on web development topics.  These days you can find Jake helping organize such groups as DallasPHP, Lone Star PHP Conf and Barcamp Dallas.</p>
</p></div>
</p></div>
</div>
<div class="speakerRow">
<div class="rowWrap">
<div class="speakerPic">
				<img src="/images/2011/miketaylor.jpg" title="Mike Taylor" />
			</div>
<div class="speakerInfo">
<h3>Mike Taylor</h3>
<h4>The HTML5 Element DOM Interface</h4>
<p><a href="http://miketaylr.com">http://miketaylr.com</a><br />
				<a href="http://twitter.com/miketaylr">@miketaylr</a></p>
<p>Mike Taylor works as a Web Opener on the Developer Relations and Tools team at Opera Software. While it has been claimed that Mike is not your neighborhood HTML5 bully, his authority on {subject} is irrefutable. Those who dare question him shall be taunted accordingly. Lorem ipsum dolor.</p>
</p></div>
<div class="speakerPic">
				<img src="/images/2011/clayBenson.jpg" title="Clay Benson" />
			</div>
<div class="speakerInfo">
<h3>Clay Benson</h3>
<h4>The Possibilities of Display Box and WebKit Animation</h4>
<p><a href="http://www.oculusblue.com">http://www.oculusblue.com</a><br />
				<a href="http://twitter.com/Volvob20f">@Volvob20f</a></p>
<p>Clay Benson likes things that are mobile &#8211; it doesn&#8217;t really matter whether it&#8217;s his 1954 Cadillac or a mobile optimized web interface.
<p>When Mutual Mobile&#8217;s lead mobile web developer isn&#8217;t restoring vintage cars, he’s reinventing mobile web for clients including Oracle and BancVue. His experience with HTML5, CSS3/WebKit and Javascript enables him to produce mobile sites with native-like functionality, while his design background helps him intimately understand what people want from mobile web.</p>
<p> Before joining the Austin-based mobile development company, Clay worked as an R&amp;D Engineer for Demand Media and founded a small web development/auto restoration shop.</p>
</p></div>
</p></div>
</div>
</div>
<div id="registerWrap">
<div id="registerLeft">
<div class="sectionTitle">
			<span class="st1">REGISTER:</span><span class="st2">Here&#8217;s what you get for $79.00!</span>
		</div>
<div class="regIcon"><img src="/images/2011/html5Icon.png" /></div>
<div class="regText rtOrange">Over 8 hours of great speakers, content and time with the greatest web minds around.  We&#8217;ll make you smarter.</div>
<div class="regIcon"><img src="/images/2011/tshirtIcon.png" /></div>
<div class="regText rtBlue">A sweet t-shirt that lets all your friends know just how rad you really are.  Just don&#8217;t wear it at the conference, you&#8217;ll be &#8220;that guy.&#8221;</div>
<div class="regIcon"><img src="/images/2011/coffeeIcon.png" /></div>
<div class="regText rtOrange">Coffee in the morning and at lunch.  We&#8217;ll keep you awake one way or another.  We&#8217;ve hired students to slap anyone caught dozing off.</div>
<div class="regIcon"><img src="/images/2011/beerIcon.png" /></div>
<div class="regText rtBlue">Access to any and all pre and post parties associated with the event.  Let&#8217;s hang out and make connections.</div>
<div class="regIcon"><img src="/images/2011/unicornIcon.png" /></div>
<div class="regText rtOrange">Access to any un-conferences or hackathons associated with the event.  Lots and lots of geekery.</div>
<div class="regIcon"><img src="/images/2011/bluebagIcon.png" /></div>
<div class="regText rtBlue">A bag of swag.  Stuff We All Get.  Guaranteed to incur the jealousy of your coworkers.</div>
</p></div>
<div id="registerRight">
<div class="topLink"><a href="#top">BACK TO TOP</a></div>
<div id="regRightLink">
			<a href="http://html5tx.eventbrite.com"><img src="/images/2011/regButtonStd.png" onmouseover="this.src='/images/2011/regButtonHlt.png'" onmouseout="this.src='/images/2011/regButtonStd.png'" /></a></p>
<p id="regRightPrice">$79.00</p>
</p></div>
</p></div>
</div>
<div id="sponsorWrap">
<div class="sectionTitle">
		<span class="st1">SPONSORS</span><span class="st2">Thanks for the stuff!</span>
	</div>
<div id="sponsorLinks">
<div class="sponsorEntry"><a href="http://johnnydtees.com" title="Johnny D Tees"><img src="/images/2011/johnnyd.jpg" /></a></div>
<div class="sponsorEntry"><a href="http://www.kendoui.com" title="Kendo UI"><img src="/images/2011/KendoUI.jpg" /></a></div>
<div class="sponsorEntry"><a href="http://www.spiceworks.com" title="Spiceworks"><img src="/images/2011/spiceworksLogo.jpg" /></a></div>
<div class="sponsorEntry"><a href="http://wijmo.com" title="Wijmo"><img src="/images/2011/wijmoLogo.jpg" /></a></div>
<div class="sponsorEntry"><a href="http://aka.ms/webm" title="Microsoft WebMatrix"><img src="/images/2011/msweb-logo.jpg" /></a></div>
<div class="sponsorEntry"><a href="http://hubaustin.com" title="HubAustin Coworking"><img src="/images/2011/HubAustinLogo.jpg" /></a></div>
<div class="sponsorEntry"><a href="http://thatconference.com" title="That Conference"><img src="/images/2011/thatConference.jpg" /></a></div>
<div class="sponsorEntry"><a href="http://newrepublicbrewing.com" title="New Republic Brewing"><img src="/images/2011/newRepublic.jpg" /></a></div>
</p></div>
</div>

				
			</div>

		</div>

		
</div>

		<div id="footer">
			<p>&copy;2012 HTML5.tx :: 100% Pure.  All Rights Reserved.</p>
			<div id="credits">
				<p>A lot of hard work went into making this event a success.  Thanks to those who rolled up their sleeves and got it done!</p>
				<a href="http://driftingcreatives.com" target="_blank"><img src="/images/2011/dclogo.png" title="Drifting Creatives" /></a>
				<a href="http://userinexperience.com" target="_blank"><img src="/images/2011/satrom.jpg" title="Brandon Satrom" /></a>
				<a href="http://frogslayer.com" target="_blank"><img src="/images/2011/frogslayer.png" title="FrogSlayerSoftware Development" /></a>
				<a href="http://csell.net" target="_blank"><img src="/images/2011/sell.png" title="Clark Sell" /></a>
				<a href="http://samhooker.net" target="_blank"><img src="/images/2011/HookerBadge.png" title="Sam Hooker" /></a>
				<a href="http://twitter.com/scichelli" target="_blank"><img src="/images/2011/cichelli.png" title="Sharon Cichelli" /></a>
				<a href="http://carouth.com" target="_blank"><img src="/images/2011/carouth.png" title="Jeff Carouth" /></a>
				<a href="http://caseysoftware.com/blog" target="_blank"><img src="/images/2011/casey.png" title="D. Keith Casey" /></a>
				<a href="http://robertstackhouse.com/" target="_blank"><img src="/images/2011/stackhouse.png" title="Robert Stackhouse" /></a>
				<a href="http://twitter.com/timgthomas" target="_blank"><img src="/images/2011/thomas.png" title="Tim Thomas" /></a>
				<img src="/images/2011/wong.png" title="Jake Wong" />
			</div>
		</div>

	</div>

	<script type='text/javascript'>var _cmo = {background_color: "#F16528",label: "Contact Us",text: "Contact Us",align: "left",valign: "middle",form: "4e072425829ac6000101978e",lang: "en"}; (function() {var cms = document.createElement('script'); cms.type = 'text/javascript'; cms.async = true; cms.src = 'http://static.contactme.com/widgets/tab/v1/tab.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(cms, s);})();</script>	<div id="bottom">
		<p>Site Design by <a href="http://www.driftingcreatives.com">Drifting Creatives</a>. Site Development by <a href="http://frogslayer.com/">FrogSlayer Software Development</a></p>
    		<p><a href="http://w3c.org">All your HTML, CSS and JavaScript are belong to us.</a></p>
		<p>&nbsp;</p>
	</div>

</body>

</html>
