// Site Styles

// TABLE OF CONTENTS
//
// 1 - root
//	1.1 animations
//	1.2 media wrappers
//  1.3 helpers
//    1.3.1 play-button
// 2 - headers
// 3 - navigation
// 4 - eagle stuff
// 5 - sections
// 6 - footers
// 7 - 
// 8 - 


// 1 - root


	//1.1 animations
	
	@-webkit-keyframes rotate {
		0%{-webkit-transform: rotate(0deg);}
		50%{-webkit-transform: rotate(180deg);}
		100%{-webkit-transform: rotate(360deg);}
	}

	@-moz-keyframes rotate {
		0%{-moz-transform: rotate(0deg);}
		50%{-moz-transform: rotate(180deg);}
		100%{-moz-transform: rotate(360deg);}
	}

	@-webkit-keyframes backgroundmove {
    0%{background-position: -20px -20px;}
    25%{background-position: 50px 50px;}
    50%{background-position: 5px 5px;}
    75%{background-position: -10px -10px;}
    100%{background-position: -20px -20px;}

}

	
	// 1.2 media wrappers
	
	.video-wrap{
		position: relative;
	   	padding-bottom: 56.25%;
	   	padding-top: 30px;
	   	height: 0;
	   	overflow: hidden;

		iframe,object,embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

	}//.video-wrap

	#container{
		width:320px;
		display:block;
		position:relative;
		margin:0 auto;
	}

// 1.3 helpers

// 1.3.1 play button
.play-wrapper{
	width:55px;
	height:55px;
	display:block;
	float:left;

	margin-left:-30px;

	position:relative;
	left:50%;

	.play-button{
		width:100%;
		height:100%;
		display:block;

		position:absolute;
		z-index:999;

		background:url(_img/play-btn.png) no-repeat left 3px;

		text-decoration: none;
	}//.play-button

	.play-cog{
		width:100%;
		height:100%;
		display:block;

		position:absolute;

		background:url(_img/cog-white.png) no-repeat top left;

		-webkit-animation: rotate 10s infinite;
 		-webkit-animation-timing-function: linear;

	}//.play-cog

}//.play-wrapper
	


body{
	background:#000;
	font-size:14px;
}


// 2 - headers
header{
	&[role="main"]{
		background:url(_img/s/banner.jpg) no-repeat center top;
		width:100%;
		height:100px;
		background-size:cover;
		
		h1{
			width:1px;
			height:1px;
			overflow:hidden;
			font-size:0px;
		}//h1 
		h2{
			text-align:center;
			font-size:2em;
			padding-top:60px;
			
			big{

				font-size:1.5em;
			}
		}
	}// &[role="main"]

}

// 3 - navigation
nav{
	
	&[role="main"]{
		width:100%;
		height:70px;
		display:block;
		z-index:1;
		position:absolute;
		top:100px;

		.left-set, .right-set{ 
			position:absolute;
			width:50%;
			height:80px;
			display:block; 
		}

		.left-set{background:url(_img/s/nav-background.jpg) no-repeat top left; left:0;}
		.right-set{background:url(_img/s/nav-background.jpg) no-repeat top right; right:0;}
		

	}
	
	&.footer{
		display:block;
		float:left;
		padding-bottom:10px;
		border-bottom:3px solid #2c2c2c;
	
		a{
			width:50%;
			display:block;
			float:left;
			text-align:center;
			color:#fff;
			text-decoration:none;
			text-transform:uppercase;
			font-weight:bold;
			padding:5px 0;
			
			&:hover{color:@red;}
			
		}
		
	}
	
}

// 4 - eagle stuff
.bad-ass-war-eagle{
	background:url(_img/s/bad-ass-war-eagle.png) top center no-repeat;
	width:100%;
	height:300px;
	z-index:9;
	position:absolute;
	top:7px;
	z-index:99;
}

.cog{
	background:url(_img/s/cog.png) no-repeat left top;
	width:40px;
	height:40px;
	position:absolute;
	display:block;
	z-index:99;
	top:157px;
	left:50%;
	margin-left:-20px;
	z-index:9;
	-webkit-animation: rotate 5s infinite;
 	-webkit-animation-timing-function: linear;
}

// 5 - sections
section{
	&.masthead{
		position:relative;
		top:90px;

		.callout{
			padding:30px 15px 20px;

			p{
				font-size:1.2em;
				text-align:center;
			}
		}

	}//.masthead
	
	&.social{
		position:relative;
		top:80px;
		display:block;
		
		.lower-logo,a.blog,.lower-cogs{
			width:100%;
			height:100px;
			background:url(_img/m/html5-lower-logo.jpg) no-repeat center center;
			background-size:auto 100%;
			margin-bottom:20px;
			width:100%;
			height:100px;
			display:block;
			position:relative;
		}
		
		a.blog{
			text-indent:-99999px;
			background:url(_img/m/read-blog.jpg) no-repeat center center;
		}
		
		.lower-cogs{
			background:url(_img/m/lower-cogs.jpg) no-repeat center center;
			
			.twitter, .facebook{
				text-indent:-99999px;
				width:50px;
				height:50px;
				display:block;
				position:absolute;
				left:110px;
			}
			
			.facebook{
				top:35px;
				left:160px;
			}
		}
	}

	&.mid{
		width:100%;
		height:60px;
		display:block;

		margin-bottom: 40px;

		position:relative;
		top:100px;

		background:url(_img/dark-grey-texture.jpg) repeat;

		&:before, &:after{
			content:' ';
			width:60px;
			height:60px;
			display:block;

			position: absolute;
			top:0;
			z-index:999;

			
		}

		&:before{
			right:0;
			background:url(_img/three-bars.gif) no-repeat #000 top right;
		}

		&:after{
			left:0;
			background:url(_img/three-bars.gif) no-repeat #000 top left;
		}

	}//.mid

	&.speakers{
		width:100%;
		display:block;

		margin:150px 0;

		.speaker-wrap{
			width:23%;
			display:block;
			float:left;
			margin-left:2%;
			margin-bottom:40px;
			position:relative;

			&:hover{

				.static{
					width:100%;
					height:100%;
					position:absolute;
					top:0;
					left:0;
					right:0;
					bottom:0;
					background:url(_img/static.png) repeat;
					z-index:9999;
	
					-webkit-animation: backgroundmove infinite 0.1s linear;
				}
				.big-cog{
					-webkit-animation: rotate 20s infinite;
 					-webkit-animation-timing-function: linear;
				}
			}

			.big-cog{
			content: ' ';

			width:50px;
			height:50px;
			display:block;

			margin-left:-25px;

			position:absolute;
			z-index: 9;
			top:60px;
			left:50%;

			background:url(_img/big-cog.png) no-repeat top left;
			background-size: cover;

			

			}

			

			figure{
				width:100%;
				position: relative;
				z-index: 99;
			}
			img{
				width:100%;
				height:auto;
				border:2px solid #191919;
			}

			.name, .title{
				font-size:0.7em;
				position: absolute;
				bottom:50px;
				left:5px;
				color:#fff;
				z-index:999;
			}

			.title{
				bottom:5px;
				font-weight:bold;
				color:@gold;
			}
		}
	}// .speakers

	&.sponsors{
		width:100%;
		display:block;
		float:left;
		.sponsor{
			width:49%;
			padding:0.5%;
			display:block;
			float:left;
		}
	}// .sponsors

}


// 6 - footers


footer{
	&[role="main"]{
		position:relative;
		display:block;
		top:120px;
		
		.copyright, a.credit{
			display:block;
			width:100%;
			color:#fff;
			display:block;
			float:left;
			text-align:center;
			color:#fff;
			text-decoration:none;
			text-transform:uppercase;
			font-weight:bold;
			padding:10px 0;
		}
		
		.bar{
			height:3px;
			width:100%;
			display:block;
			float:left;
			background:#2c2c2c;
		}
		
	}
}