// Site Styles

// TABLE OF CONTENTS
//
// 1 - root
// 2 - headers
// 3 - navigation
// 4 - article
// 5 - sections
// 7 - 
// 8 - 
// 9 - 


// 1 - root
body{
	background:#000;
}

// 2 - headers
header{
	&[role="main"]{
		background:url(_img/s/header.jpg) no-repeat center top;
		width:100%;
		height:150px;
		background-size:100% auto;
	}// &[role="main"]
	
}

// 3 - navigation
nav{}
	
// 4 - article
article{}
	
// 5 - sections
section{}
