//

// SORRY IF THIS IS CRAP.  I'M TRYING 
// TO RIP IT OUT ASAP.  I'LL
// TRY TO DOCUMENT AS BEST I CAN.
// XOXO - MATT

// TABLE OF CONTENTS
//
// 1 - root
// 2 - headings
// 3 - type
// 4 - links
// 5 - images
// 6 - lists
// 7 - tables
// 8 - buttons
// 9 - callouts and inner content


@font-face { font-family: Futura; src: url('_fonts/FuturaStd-Medium.otf'); } 
@font-face { font-family: Futura; font-weight: bold; src: url('_fonts/FuturaStd-Bold.otf'); }


// 1 - root
html{ 
	margin:0; 
	padding:0;
}

body{ 
	margin:0;
	padding:0;
	font-family:Futura, arial;
}

// 2 - headings

h1{}
h2{}
h3{}
h4{}
h5{}

// 3 - type

p{} 
	
address{}
	
blockquote{}
	
blockquote:before,blockquote:after,q:before,q:after {
	content : '';
	content : none;
}

b, strong {}

small{}

sub, sup {}

sup {}

sub {}

pre,code,kbd,samp { 
	.monospace;
}


	
// 4 -links	
a {color:@link;}
a:visited {color:darken(@link, 10%);}
a:hover {color:@red;}
a:focus {outline:thin dotted; color:lighten(@link, 10%);}
a:hover, a:active{outline:0;}


// 5 - images

figure {
	width:100%;

	img{
		width:100%;
		height:auto;
	}
}
figure img,figure object,figure embed {}
figcaption {}
img {}

// 6 - lists

ul{
	li{
		
	}
}//end ul


ol{
	li{
		
	}
}//end ol

ol.list-links,
ul.list-links {
	a {
		color: @red;
		text-decoration: none;

		padding-left: 10px;
	}
}


// 7 - tables

table{
	th{}
	td{}
}//end table



// 8 - buttons

a.button{
	
	background:url(_img/button.gif) no-repeat top left;
	background-size:100% auto;
	width:100%;
	padding:15px 0 20px;
	max-width:220px;
	margin:0 auto;
	display:block;
	text-align: center;
	color:@red;
	font-weight:800;
	text-decoration: none;
	line-height:0;

	&.primary{}
	&.cta{}
}

// 9 - callouts and inner content

div.callout,
.inner-content {
	background:url(_img/dark-grey-texture.jpg) repeat;
	padding:10px;
	margin:10px 0 ;
	color:#fff;

	p{
		margin-bottom:10px;
	}

	b{
		font-weight:800;
	}

}